.sidebar__header,
.sidebar__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__header {
    height: 40%;
}

.sidebar__body {
    height: 60%;
    border-radius: 20px 20px 0 0;
    background-color: var(--white);
}

.sidebar__header>div,
.sidebar__body>div {
    width: 90%;
    height: 90%;
}

.sidebar__header>div {
    position: relative;
}

.sidebar__title {
    color: var(--white);
    font-size: 40px;
    margin: 0;
    text-transform: capitalize;
}

.sidebar__header .sidebar__content {
    width: 100%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__header .sidebar__list,
.sidebar__body .sidebar__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.sidebar__header .sidebar__list {
    width: 40%;
}

.sidebar__header .sidebar__item {
    width: 47%;
    padding: 2px 0;
    border-radius: 20px;
    text-align: center;
}

.sidebar__text {
    color: var(--white);
    font-weight: 700;
    text-transform: capitalize;
}

.sidebar__image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar__body .sidebar__list {
    width: 100%;
}

.sidebar__text--dark {
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.sidebar__body .sidebar__content {
    width: 100%;
    height: 85%;
}