.list-habilidades {}

.list-habilidades__item, .list-ataques__item {
  text-transform: capitalize;
  padding: 15px 0;
  list-style: none;
  color: var(--dark-grey);
}

.list-ataques {
  column-count: 3;
}

.list-stats {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-row-gap: 23px;
  padding: 0;
}

.list-stats__item {
  color: var(--dark-grey);
  list-style: none;
  text-transform: capitalize;
}