main {
  width: 90%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #C7C9C9;
}

::-webkit-scrollbar-thumb {
  background: #3D474C;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #293033;
}