.container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__choice {
    width: 60%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__image {
    width: 30%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.choice {
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.choice>div {
    width: 49%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: margin-bottom .3s ease;
}

.choice>div:hover {
    margin-bottom: 8px;
}

.choice__text {
    font-size: 30px;
    color: var(--white);
    font-weight: 700;
    margin-left: 8%;
    margin-bottom: 8%;
}

.choice__item--1 {
    background-color: var(--green);
}

.choice__item--2 {
    background-color: var(--blue);
}

.choice__item--3 {
    background-color: var(--pink);
}

.choice__item--4 {
    background-color: var(--purple);
}